*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    position: relative;
    width: 100%;
    max-width: 113rem;
    margin: 4rem auto;
    padding: 4rem;
}

/* header */
.header{
    width: 100%;
    height: 5rem;
    margin-bottom: 4rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.nav h1{
    font-size: 3.2rem;
}
.button{
    margin-right: 2px;
    background-color: rgb(93, 158, 255);
    color: white;
    padding: 1.4rem 2.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 4px;
    display: inline-block;
}
.button:hover{
    cursor: pointer;
}
.button-top-right{ /* toggle this */
    display: none;
}
.new-book::before{
    content: '+';
    margin-right: 8px;
    font-size: 1.6rem;
}

/* null state */
.null-state{
    /* display: none; */ /* toggle this */
    text-align: center;
    margin-top: 10rem;
}
.null-state::before{
    content: url(https://media2.giphy.com/media/wsiSPSA7ijqwM/giphy.gif?cid=ecf05e47c5gqbh1ccl3ic9ubgxhmys65dmlpwcllc5vr653r&rid=giphy.gif);
    display: block;
    margin-bottom: 4rem;
}
.null-header{
    font-size: 2rem;
    color: #4f4f4f;
    margin-bottom: 1.2rem;
}
.null-subtext{
    font-size: 1.6rem;
    color: rgb(171, 171, 171);
    margin: auto;
    margin-bottom: 4.5rem;
    width: 35rem;
    line-height: 2.4rem;
}

/* main */
.card-group{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.2rem;
}
.card{
    position: relative;
    width: 24.4rem;
    height: 32rem;
    border-radius: 6px;
    padding: 3rem;
    margin: 1.2rem;
    background-color: #F3F3F4;
}
@media(max-width: 650px){
    .card-group{
        display: block;
        margin: 0 auto;
    }
    .card{
        width: 32rem;
        height: 42.6rem;
        display: block;
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }
}
@media(min-width: 65px){
    .card-group{
        justify-content: start;
    }
}
.title{
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: .5px;
}
.title::after{
    content: '__';
    display: block;
    font-weight: 400;
    margin-bottom: 2rem;
}
.author{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .5px; 
}
.pages{
    position: absolute;
    font-size: 1.4rem;
    font-weight: 400;
    bottom: 2.4rem;;
}

/* modal */
.dark-overlay{
    display: none; /* toggle this */
    background-color: rgba(0, 0, 0, .95);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2rem;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50rem;
    padding: 3rem;
    border-radius: 6px;
}
.modal-content{
    margin-bottom: 4rem;
}
.modal-heading{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.custom-field{
    display: block;
    position: relative;
    font-size: 1.4rem;
    padding-top: 2rem;
    margin: 2rem 0;
}
input{
    outline: none;
    appearance: none;
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 700;
    background: none;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}
input + .placeholder{
    position: absolute;
    font-size: 1.6rem;
    color: #a3a6ae;
    left: 14px;
    top: 50%;
    transition: 
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}
input:focus + .placeholder, input:valid + .placeholder{
    top: 1.4rem;
    font-size: 1.2rem;
    background: white;
    padding: 0 6px;
    margin-left: -3px;
}
input:valid + .placeholder{
    color: black;
}
input:focus + .placeholder{
    color: rgb(93, 158, 255);
}
input:valid{
    border-color: #222;
    transition-delay: 0.2s
}
input:focus{
    border-color: rgb(93, 158, 255);
    transition-delay: 0.2s
}
.modal-footer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.modal-footer .button{
    padding: 1.4rem 2.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 4px;
}
.cancel-btn{
    margin-right: 1rem;
}
.add-btn{
    background-color: rgb(93, 158, 255);
    color: white;
}